<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- webpages -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <!-- ClientValidation Enabled or Disabled variable-->
  <add key="ClientValidationEnabled" value="true" />
  <!-- UnobtrusiveJavaScript Enabled or Disabled variable-->
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--  Client ID obtained from Azure Portal, e.g. 00000xx0-x00x-00x0-0x0x-0x00x00x000x -->
  <add key="FxClientId" value="[Client ID]" />
  <!--  Tenant Name, e.g. YOUR_AZURE_AD_NAME.onmicrosoft.com -->
  <add key="FxTenant" value="[Tenant Name]" />
  <!-- Microsoftonline Login url-->
  <add key="FxAzureADInstance" value="https://login.microsoftonline.com/{0}" />
  <!-- Localhost url-->
  <add key="FxPostLogoutRedirectUri" value="https://localhost:44300/" />
</appSettings>