<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString_AzureSQL" connectionString="Integrated Security=false;User ID=[UserId];Password=[Password]"/>
  </connectionStrings>
  <appSettings>
    <!-- Enter the server name of your Azure SQL Database like: xxxxx.database.windows.net -->
    <add key="AzureSQLDatabaseServerName" value="[ServerName]" />
    
    <!--
      The database edition to use when creating databases for this sample in Azure SQL DB.
      - Standard
      - Basic
    -->
    <add key="DatabaseEdition" value="Standard" />

    <!--Set to true to enable Windows Authentication instead of SQL Authentication.
      This is useful only if connecting to a local SQL Server database instead of Azure SQL DB. -->
    <add key="IntegratedSecurity" value="false" />

    <!-- アプリケーションの使用するパラメータ - start -->
    <!-- SQLファイルファイル（フォルダ）へのパス -->
    <add key="SqlTextFilePath" value="C:\SampleProgram\Azure\ElasticDatabase\ElasticDB_Sample2\ElasticScaleStarterKit\ElasticScaleStarterKit\Sql\"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
