<?xml version="1.0"?>
<!-- 
    メモ: このファイルを手動で編集する代わりに、Web 管理ツールを使用 
    してアプリケーションの設定を構成することができます。Visual Studio 
    の [Web サイト] メニューにある [ASP.NET 構成] オプションから設定
    を行ってください。設定およびコマンドの一覧は、通常
    \Windows\Microsoft.Net\Framework\v2.x\Config にある
    machine.config.comments で確認できます。
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。
-->
		<authentication mode="Windows"/>
		<!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをスタック トレースのエラーの代わりに表示するように構
            成することを可能にします。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

		<!--IIS5.0、5.1、6.0でのカスタム HTTP モジュール登録方法-->
		<httpModules>
			<add name="ToHankakuHttpModule" type="ToHankakuHttpModule"/>
		</httpModules>

		<!--IIS7.0でのカスタム HTTP モジュール登録方法-->
		<!--system.webServer>
			<modules>
				  <add name="ToHankakuHttpModule" type="ToHankakuHttpModule"/>
			</modules>
		</system.webServer-->

	</system.web>
</configuration>
